 
 <div class="login-container">
    <div class="login">
     <form  [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">    
       <h1 class="login-title">Register Form</h1>   
      <input type="text" name="email" class="login-input" formControlName="email" placeholder="Email Address" autofocus>
     
      <input type="password" class="login-input" name="password" formControlName="password" placeholder="Password">
     
      <input type="submit" value="Register" class="login-button">    
   
     </form>
   </div>
   </div>
   