#form-container{
    
    margin: 5% auto; 
    width:25rem;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
    
 
  }
form button{
    position: relative;
    font-family: inherit;
    color:white;
    background: rgb(66, 132, 231);
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#addbtn{

    position: absolute;
    top:110px;
    left:70px;
    width:20px;
    height:20px;
    
}
#submit{
    margin-left:150px;
}
#header{
    text-align: center;
}
#sub
{
    font-size: 1.0rem;
    margin-left:100;
    
}