
  <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quarter 2019 (Q1)
        </mat-panel-title>
      </mat-expansion-panel-header>
    <mat-accordion>   
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Year - 2018
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is year 2018</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Year - 2019
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is year 2019</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Year - 2020
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is year 2020</p>
    </mat-expansion-panel>
  </mat-accordion>
  </mat-expansion-panel>        