.alert-container{
   position:absolute;
   width: 450px;
   background: white;
   border: 1px solid #c4c4c4;
   border-radius: 5px;
   margin: 0 auto;
   left: 0;
   right: 0;
   margin-top: 25px;
}

.success{
   color: #155724;
   background-color: #d4edda;
   border-left: 5px solid green;
}

.danger{
    color: #721c24;
    background-color: #f8d7da;
    border-left: 5px solid red;
}