<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Coda Trip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flights">Flights</a>
      </li>
      <li>
      
        <div class="dropdown">
            <a class="nav-link" routerLink="/flights">Hotels</a>
          <div class="dropdown-content">
          <a routerLink="/app-addhotel">Add Hotels</a>
          <a routerLink="/app-searchhotel">Search Hotels</a>
          <a routerLink="/app-viewhotel">View Hotels</a>
          </div>
        </div>

      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item  ">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
    </ul>
  
    
  </div>
</nav>
