<div class="form-container">
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
  <header>Login</header>
   <label>Email<span>*</span></label>
   <input type="text" #mail name="email" id="mid" formControlName="email"  [(ngModel)]="mid" />
   
   <span *ngIf="(formdata.controls.email.invalid && formdata.controls.email.touched)">Email must be a valid email address</span>
  <label>Password<span>*</span> </label>
  <show-hide-password size="sm" icon="entypo" btnStyle="primary" [btnOutline]="false">
   <input type="password" #passwd id="pwd" class="fortextbox" name="password" formControlName="password" (keyup) = onKeyPassword($event) [(ngModel)]="pwd" />
   </show-hide-password>
   <span *ngIf="(formdata.controls.password.invalid && formdata.controls.password.touched)" >password must contain atleast one upper case ,lowercase, special character , number and length atleast 8</span>
  
   <button  value="Login">Login</button>
    
  </form>
</div>