<div class="list-number">
    <ul>
        <li>1</li>
        <li style="background-color:rgb(161, 161, 161);">2</li>
        <li>3</li>
      </ul>
</div>

<div class="wizard-container">
    <form>
      <div class="label2">
        <p>Gaming Catagory</p>
         <select class="form-input">
          <option value="first-person">first-person</option>
          <option value="third-person">third-person</option>
          <option value="MmoRPG">Mmorpg</option>
          <option value="Adventurer">Adventurer</option>
        </select>        
      </div>      
      </form>
</div>

