
        <div class="card-text-left" style="width: 20rem;">
            <img class="card-img" [src]="city.image" alt="Card image" style="height: 200px;width: 350px">
            <div class="card-img-overlay">
                <h6 class="card-title text-light">{{city.flightName}}</h6>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">{{city.price}}</h5>
              <p class="card-text">Weekend breaks | Affordable Price.</p>
              <a href="#" class="btn btn-default btn-sm" >View More</a>
            </div>
          </div>

