
        <div class="card-text-left" style="width: 20rem;">
            <div class="img-thumbnail">
                <img class="card-img-top" src="{{flight.image}}" alt="Card image cap" style="height:250px;width:350px">
            </div>            
            <div class="card-body">
              <strong><h2 class="card-title">{{flight.flightName}}</h2></strong>
              <p>Price:{{flight.price}}</p>
              <p class="card-text">Weekend breaks|Wonderfull Places to Explore.</p>
              <a href="#" class="btn btn-default btn-sm" >View More</a>
            </div>
          </div>
 