<hr>
<div class="card">
  <h5 class="card-header">Booking Details</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
          <img class="card-img-top" style="margin-top: 10px" src="https://3.bp.blogspot.com/-bp-L7EHJ_IQ/U8GAwleW6CI/AAAAAAAAC-U/eXHKmDV5IDM/s1600/hogwarts-express-TICKET-blog.png" 
                alt="Ticket" height="200px" width="30px">
      </div>
      <div class="col-8">
      
              <ul class="list-group">
                <li class="list-group-item" style="padding:0%"><div class="row" >
                    <div class="col-md-4  bg-primary text-white" style="padding: 2%">
                        From 
                    </div>
                    <div class="col-md-8 " style="padding-left: 5%;padding-top:2%;margin-right:0%;background-color: #c6edff;border-style: ridge;border-color: black;border-width: 1px">
                        {{ticket.source}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item" style="padding:0%"><div class="row">
                    <div class="col-md-4  bg-primary text-white" style="padding: 2%">
                        To
                    </div>
                    <div class="col-md-8 " style="padding-left: 5%;padding-top:2%;margin-right:0%;background-color: #c6edff;border-style: ridge;border-color: black;border-width: 1px">
                        {{ticket.destination}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item" style="padding:0%"><div class="row">
                    <div class="col-md-4  bg-primary text-white" style="padding: 2%">
                        Flight
                    </div>
                    <div class="col-md-8 " style="padding-left: 5%;padding-top:2%;margin-right:0%;background-color: #c6edff;border-style: ridge;border-color: black;border-width: 1px">
                        {{ticket.flightName}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item" style="padding:0%"><div class="row">
                    <div class="col-md-4  bg-primary text-white" style="padding: 2%">
                        FlightID
                    </div>
                    <div class="col-md-8 " style="padding-left: 5%;padding-top:2%;margin-right:0%;background-color: #c6edff;border-style: ridge;border-color: black;border-width: 1px">
                        {{ticket.flightId.counter}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item" style="padding:0%"><div class="row">
                    <div class="col-md-4  bg-primary text-white" style="padding: 2%">
                        Departure
                    </div>
                    <div class="col-md-8 " style="padding-left: 5%;padding-top:2%;margin-right:0%;background-color: #c6edff;border-style: ridge;border-color: black;border-width: 1px">
                        {{ticket.departure}}
                    </div>
                  </div>
                </li>
              </ul> 
          
        </div>
    <button style="margin-left: 50%;margin-top: 5%" type="button" class="btn btn-primary" (click)="onConfirmBook()">Confirm Booking</button>
      </div>
    
  </div>
</div>
<hr>
