<hr>
<div class="card">
  <h5 class="card-header">{{ticket.searchForm.from}}  To  {{ticket.searchForm.to}}</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
          <ul class="list-group">
              <li class="list-group-item">From :<span>  {{ticket.searchForm.from}}</span> </li>
              <li class="list-group-item">Class :<span> {{ticket.class}}</span></li>
            </ul>  
      </div>
      
      <div class="col-6">     
        <ul class="list-group">
          <li class="list-group-item">To :<span>  {{ticket.searchForm.to}}</span> </li>
          <li class="list-group-item">Type  :<span> {{ticket.type}}</span></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
          <ul class="list-group">
              <li class="list-group-item">Date and Time :<span>  {{ticket.searchForm.dateValue}}</span> </li>
          </ul>
      </div>
    </div>
    
  </div>
</div>
<hr>