  <form [formGroup]="formdata" class="form-container">
    <div formArrayName="detcard" *ngFor="let detcard of formdata.get('detcard').controls; let i = index;">
      <div [formGroupName]="i">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <div>
              <button id="cancelbtn"><i class="fa fa-window-close" aria-hidden="true" (click)="onDelete(i)"></i></button>
            </div>
            <label>UserName</label>
            <input type="text" name="userName" formControlName="userName">
            <div *ngIf="(formdata.controls.detcard.controls[i].controls.userName.invalid && 
          formdata.controls.detcard.controls[i].controls.userName.touched)"><small>
                Enter Valid UserName </small></div>
            <label>Email</label>
            <input type="email" name="Email" formControlName="email">
            <div *ngIf="(formdata.controls.detcard.controls[i].controls.email.invalid && 
          formdata.controls.detcard.controls[i].controls.email.touched)"><small>
                Enter valid Email</small></div>
          </div>
        </div>
      </div>
    </div>
  </form>