<div class="container-fluid">
    <div class="jumbotron">
      <h1>Flights</h1>
      <h3>Book flights to Exciting Places</h3>
    </div>   
  </div>
  <app-flight-search (search)="onResultUpdate($event)"></app-flight-search>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <app-flight-search-result *ngIf="ticketAvailable" [ticket]="ticketDetails"></app-ticket-card>
      </div>
    </div>
  </div>
  
<div class="container">
  <div class ="row">   
      <div class="col-sm" *ngFor="let i of details" >
          <app-cards [city]="i"></app-cards>
      </div>
  </div>  
</div>
