

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3></h3>
              <form name="form" (ngSubmit)="searchForm.valid && onSubmit(searchForm.value)" [formGroup]="searchForm" novalidate>
                  <div class="form-group">
                      <label for="firstName">Hotel location</label>
                      <input type="text" class="form-control" name="hotel_place" formControlName="hotel_place"  required />
                      <div *ngIf="searchForm.submitted &&  hotel_place.invalid" class="invalid-feedback">
                          <div *ngIf="hotel_name.errors.required">hotel name is required</div>
                      </div>
                  </div>                 
                  <div class="form-group">
                      <button class="btn btn-primary">Search</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<div *ngIf="isSetForm">
 
<table>
    <tr>
           
        <div class="card-group">
    <div *ngFor="let list of products; let i = index" >
          <td>
         
          <div class="card" style="width:291px;height:600px;">
              <img class="card-img-top" src="{{list.hotel_image}}" alt="Card image cap" height="291" width="200">
              <div class="card-body">
                  <h5 class="card-title">{{list.hotel_name}}</h5>
                  <p class="card-text">{{list.hotel_description}}</p>
                  <p class="card-text">{{list.price}}</p>
                  <p class="card-text">{{list.hotel_place}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">BOOK</small>
              </div>
            </div>
          </td>
       
    </div>
    </div>
    </tr>
    </table>
    
</div>
