<div class="list-number">
    <ul>
        <li  style="background-color:rgb(161, 161, 161);">1</li>
        <li>2</li>
        <li>3</li>
      </ul>
</div>

<div class="wizard-container">
    <form>
      <div class="label1">
        <label for="name">Name:
          <input id="name" type=text class="form-input">
        </label>
      </div>
      <div class="label1">
        <label for="age">Age:
          <input id="age" type="text" class="form-input">
        </label>
      </div>
      </form>
</div>
