<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
                      
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="hotel_name">Hotel Name</label>
                      <input type="text" class="form-control" name="hotel_name" [(ngModel)]="model.hotel_name" #hotel_name="ngModel"  required />
                      <div *ngIf="f.submitted && hotel_name.invalid" class="invalid-feedback">
                          <div *ngIf="hotel_name.errors.required">hotel name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="hotel_description">Hotel Description</label>
                      <input type="text" class="form-control" name="hotel_description" [(ngModel)]="model.hotel_description" #hotel_description="ngModel"  required />
                      <div *ngIf="f.submitted && hotel_description.invalid" class="invalid-feedback">
                          <div *ngIf="hotel_description.errors.required">Hotel Description is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="hotel_place">Hotel Location</label>
                    <input type="text" class="form-control" name="hotel_place" [(ngModel)]="model.hotel_place" #hotel_place="ngModel"  required />
                    <div *ngIf="f.submitted && hotel_place.invalid" class="invalid-feedback">
                        <div *ngIf="hotel_place.errors.required">Hotel location is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hotel_image">Hotel image</label>
                    <input type="text" class="form-control" name="hotel_image" [(ngModel)]="model.hotel_image" #hotel_image="ngModel"  required />
                    <div *ngIf="f.submitted && hotel_image.invalid" class="invalid-feedback">
                        <div *ngIf="hotel_image.errors.required">Hotel image is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Hotel price</label>
                    <input type="text" class="form-control" name="price" [(ngModel)]="model.price" #price="ngModel" required/>
                    <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                        <div *ngIf="price.errors.required">Hotel price is required</div>
                    </div>
                </div>
                  
                  <div class="form-group">
                      <button class="btn btn-primary" >Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>