
<table>
<tr>
    <div class="card-group">
<div *ngFor="let list of products; let i = index" >   
  <td>      
      <div class="card" style="width:291px;height:600px;">
          <img class="card-img-top" src="{{list.hotel_image}}" alt="Card image cap" height="291" width="200">
          <div class="card-body">
              <h5 class="card-title">{{list.hotel_name}}</h5>
              <p class="card-text">{{list.hotel_description}}</p>
              <p class="card-text">{{list.price}}</p>
              <p class="card-text">{{list.hotel_place}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">BOOK</small>
          </div>
        </div>
      </td>   
</div>
</div>
</tr>
</table>
