.flight-container{
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-header:first-child{
    background: #454c4c;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: none;
}
.btn-primary{
    background: #7dd185;
    padding:10px 20px 10px 20px;
    border:1px solid black;   
}
a .btn-primary {
    color:white;
}
.btn-primary:hover{
    background: #427c47;
}
#inputGroupPrepend{
width:30%;
margin:10px auto;
text-align: center;
background: none;
border:none;
}
#validationCustomUsername{
    width:70%;
    margin:auto;
}
